[Unit]
Description=Plounge-stats data collection service

[Service]
Type=simple
User=plounge-stats
Group=plounge-stats
WorkingDirectory=/opt/plounge-db/
ExecStart=/opt/plounge-db/watcher.py
# Always restart the service unles it is explicitly terminated by systemctl
Restart=always
# Restart after 30 minutes (1800 seconds)
RestartSec=1800
